################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gitignore

/.vs
QPay.API/obj
QPay.API/bin/Debug/net6.0
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.AssemblyInfo.cs
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.AssemblyInfo.cs
/QPAY_Web_Domain/obj/Debug/net8.0/QPay.UI.AssemblyInfo.cs
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.AssemblyInfo.cs
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.AssemblyInfoInputs.cache
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.sourcelink.json
/QPAY_Web_API/obj/Debug/net8.0/ref/QPay.API.dll
/QPAY_Web_API/obj/Debug/net8.0/refint/QPay.API.dll
/QPAY_Web_API/obj/Debug/net8.0/apphost.exe
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.AssemblyInfoInputs.cache
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.AssemblyInfoInputs.cache
/QPAY_Web_Domain/obj/Debug/net8.0/QPay.UI.AssemblyInfoInputs.cache
/QPAY_Web_Domain/obj/Debug/net8.0/QPay.UI.assets.cache
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.csproj.AssemblyReference.cache
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.csproj.FileListAbsolute.txt

/QPAY_Web_API/obj/Debug/net8.0/QPay.API.dll
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.pdb
/QPAY_Web_API/bin/Debug/net8.0/QPay.API.pdb
/QPAY_Web_API/bin/Debug/net8.0/QPay.API.exe
/QPAY_Web_API/bin/Debug/net8.0/QPay.API.dll
/QPAY_Web_Service/obj/Debug/net8.0
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.AssemblyInfo.cs
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.AssemblyInfoInputs.cache
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.csproj.AssemblyReference.cache
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.csproj.FileListAbsolute.txt
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.AssemblyInfoInputs.cache
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.csproj.FileListAbsolute.txt
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.sourcelink.json

/QPAY_Web_Service/obj
/QPAY_Web_API/obj
/QPAY_Web_Domain/obj
/QPAY_Web_Data/obj

/QPAY_Web_Service/bin
/QPAY_Web_API/bin
/QPAY_Web_Domain/bin
/QPAY_Web_Data/bin
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.AssemblyInfo.cs
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.assets.cache
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.csproj.AssemblyReference.cache
/QPAY_Web_Service/obj/project.assets.json
/QPAY_Web_Service/obj/project.nuget.cache
/QPAY_Web_Service/obj/QPay.BAL.csproj.nuget.dgspec.json
/QPAY_Web_Service/obj/QPay.BAL.csproj.nuget.g.props
/QPAY_Web_Domain/obj/Debug/net8.0/QPay.UI.AssemblyInfo.cs
/QPAY_Web_Domain/obj/Debug/net8.0/QPay.UI.AssemblyInfoInputs.cache
/QPAY_Web_Domain/obj/Debug/net8.0/QPay.UI.assets.cache
/QPAY_Web_Domain/obj/project.assets.json
/QPAY_Web_Domain/obj/project.nuget.cache
/QPAY_Web_Domain/obj/QPay.UI.csproj.nuget.dgspec.json
/QPAY_Web_Domain/obj/QPAY.UI.csproj.nuget.g.props
*.user
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.AssemblyInfo.cs
/QPAY_Web_API/QPay.API.csproj.user
/QPAY_Web_API/obj/Debug/net8.0/apphost.exe
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.AssemblyInfo.cs
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.AssemblyInfoInputs.cache
/QPAY_Web_Service/bin/Debug/net8.0/QPay.BAL.deps.json
/QPAY_Web_Service/bin/Debug/net8.0/QPay.BAL.dll
/QPAY_Web_Service/bin/Debug/net8.0/QPay.BAL.pdb
/QPAY_Web_Service/bin/Debug/net8.0/QPay.DAL.dll
/QPAY_Web_Service/bin/Debug/net8.0/QPay.DAL.dll.config
/QPAY_Web_Service/bin/Debug/net8.0/QPay.DAL.pdb
/QPAY_Web_Service/bin/Debug/net8.0/QPay.UI.dll
/QPAY_Web_Service/bin/Debug/net8.0/QPay.UI.pdb
/QPAY_Web_Service/bin/Debug/QPay.BAL.1.0.0.nupkg
/QPAY_Web_Service/bin/Release/net8.0/QPay.BAL.deps.json
/QPAY_Web_Service/bin/Release/net8.0/QPay.BAL.dll
/QPAY_Web_Service/bin/Release/net8.0/QPay.BAL.pdb
/QPAY_Web_Service/bin/Release/net8.0/QPay.DAL.dll
/QPAY_Web_Service/bin/Release/net8.0/QPay.DAL.pdb
*.pubxml
/QPAY_Web_Service/bin/Release/net8.0/QPay.UI.dll
/QPAY_Web_Service/bin/Release/net8.0/QPay.UI.pdb
/QPAY_Web_Service/obj/Debug/net8.0/ref/QPay.BAL.dll
/QPAY_Web_Service/obj/Debug/net8.0/refint/QPay.BAL.dll
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.assets.cache
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.csproj.AssemblyReference.cache
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.csproj.CoreCompileInputs.cache
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.csproj.Up2Date
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.GeneratedMSBuildEditorConfig.editorconfig
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.dll
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.pdb
/QPAY_Web_Service/obj/Debug/QPay.BAL.1.0.0.nuspec
/QPAY_Web_Service/obj/Release/net8.0/ref/QPay.BAL.dll
/QPAY_Web_Service/obj/Release/net8.0/refint/QPay.BAL.dll
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.assets.cache
/QPAY_Web_Service/obj/QPay.BAL.csproj.nuget.g.props
/QPAY_Web_API/.config/dotnet-tools.json
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.csproj.CoreCompileInputs.cache
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.dll
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.pdb
/QPAY_Web_Service/obj/project.assets.json
/QPAY_Web_Service/obj/project.nuget.cache
/QPAY_Web_Service/obj/QPay.BAL.csproj.nuget.dgspec.json
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.assets.cache
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.csproj.AssemblyReference.cache
/QPAY_Web_API/Properties/PublishProfiles/FolderProfile.pubxml
/QPAY_Web_API/Properties/PublishProfiles/FolderProfile.pubxml.user
/QPay_Web_Data/bin/Debug/net8.0/QPay.DAL.deps.json
/QPay_Web_Data/bin/Debug/net8.0/QPay.DAL.dll
/QPay_Web_Data/bin/Debug/net8.0/QPay.DAL.dll.config
/QPay_Web_Data/bin/Debug/net8.0/QPay.DAL.pdb
/QPay_Web_Data/bin/Release/net8.0/QPay.DAL.deps.json
/QPay_Web_Data/bin/Release/net8.0/QPay.DAL.dll
/QPay_Web_Data/bin/Release/net8.0/QPay.DAL.pdb
/QPay_Web_Data/obj/Debug/net8.0/ref/QPay.DAL.dll
/QPay_Web_Data/obj/Debug/net8.0/refint/QPay.DAL.dll
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.AssemblyInfo.cs
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.AssemblyInfoInputs.cache
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.assets.cache
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.csproj.AssemblyReference.cache
/QPay_Web_Data/obj/project.assets.json
/QPay_Web_Data/obj/project.nuget.cache
/QPay_Web_Data/obj/QPay.DAL.csproj.nuget.dgspec.json
/QPay_Web_Data/obj/QPay.DAL.csproj.nuget.g.props
*.pubxml
/QPAY_Web_API/Properties/PublishProfiles
/QPAY_Web_Service
/QPAY_Web_API/obj/project.assets.json
/QPAY_Web_API/obj/project.nuget.cache
/QPAY_Web_API/obj/QPay.API.csproj.nuget.dgspec.json
/QPAY_Web_API/obj/QPay.API.csproj.nuget.g.props
*.json
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.AssemblyInfo.cs
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.AssemblyInfoInputs.cache
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.assets.cache
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.csproj.AssemblyReference.cache
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.csproj.CoreCompileInputs.cache
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.csproj.FileListAbsolute.txt
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.dll
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.GeneratedMSBuildEditorConfig.editorconfig
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.pdb
/QPay_Web_Data/obj/Release/net8.0/ref/QPay.DAL.dll
/QPay_Web_Data/obj/Release/net8.0/refint/QPay.DAL.dll
/QPay_Web_Data/obj/Release/net8.0/QPay.DAL.AssemblyInfo.cs
/QPay_Web_Data/obj/QPay.DAL.csproj.nuget.g.props
/QPay_Web_Data/obj/QPay.DAL.csproj.nuget.dgspec.json
/QPay_Web_Data/obj/project.nuget.cache
/QPay_Web_Data/obj/project.assets.json
/QPay_Web_Data/obj/Release/net8.0/QPay.DAL.dll
/QPay_Web_Data/obj/Release/net8.0/QPay.DAL.pdb
/QPay_Web_Data/obj/Release/net8.0/QPay.DAL.AssemblyInfoInputs.cache
/QPay_Web_Data/obj/Release/net8.0/QPay.DAL.assets.cache
/QPay_Web_Data/obj/Release/net8.0/QPay.DAL.csproj.AssemblyReference.cache
/QPay_Web_Data/obj/Release/net8.0/QPay.DAL.csproj.CoreCompileInputs.cache
/QPay_Web_Data/obj/Release/net8.0/QPay.DAL.csproj.FileListAbsolute.txt
/QPAY_Web_API/obj/QPay.API.csproj.nuget.g.targets
/QPAY_Web_Domain/QPay.UI.csproj.user
/QPAY_Web_Domain/obj/Debug/net8.0/QPay.UI.assets.cache
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.GeneratedMSBuildEditorConfig.editorconfig
