################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gitignore

/.vs
QPay.API/obj
QPay.API/bin/Debug/net6.0
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.AssemblyInfo.cs
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.AssemblyInfo.cs
/QPAY_Web_Domain/obj/Debug/net8.0/QPay.UI.AssemblyInfo.cs
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.AssemblyInfo.cs
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.AssemblyInfoInputs.cache
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.sourcelink.json
/QPAY_Web_API/obj/Debug/net8.0/ref/QPay.API.dll
/QPAY_Web_API/obj/Debug/net8.0/refint/QPay.API.dll
/QPAY_Web_API/obj/Debug/net8.0/apphost.exe
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.AssemblyInfoInputs.cache
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.AssemblyInfoInputs.cache
/QPAY_Web_Domain/obj/Debug/net8.0/QPay.UI.AssemblyInfoInputs.cache
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.csproj.AssemblyReference.cache
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.csproj.FileListAbsolute.txt

/QPAY_Web_API/obj/Debug/net8.0/QPay.API.dll
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.pdb
/QPAY_Web_API/bin/Debug/net8.0/QPay.API.pdb
/QPAY_Web_API/bin/Debug/net8.0/QPay.API.exe
/QPAY_Web_API/bin/Debug/net8.0/QPay.API.dll
/QPAY_Web_Service/obj/Debug/net8.0
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.AssemblyInfo.cs
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.AssemblyInfoInputs.cache
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.csproj.AssemblyReference.cache
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.csproj.FileListAbsolute.txt
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.AssemblyInfoInputs.cache
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.csproj.FileListAbsolute.txt
/QPAY_Web_Service/obj/Release/net8.0/QPay.BAL.sourcelink.json

/QPAY_Web_Service/obj
/QPAY_Web_API/obj
/QPAY_Web_Domain/obj
/QPAY_Web_Data/obj

/QPAY_Web_Service/bin
/QPAY_Web_API/bin
/QPAY_Web_Domain/bin
/QPAY_Web_Data/bin
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.AssemblyInfo.cs
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.assets.cache
/QPAY_Web_Service/obj/Debug/net8.0/QPay.BAL.csproj.AssemblyReference.cache
/QPAY_Web_Service/obj/project.assets.json
/QPAY_Web_Service/obj/project.nuget.cache
/QPAY_Web_Service/obj/QPay.BAL.csproj.nuget.dgspec.json
/QPAY_Web_Service/obj/QPay.BAL.csproj.nuget.g.props
/QPAY_Web_Domain/obj/Debug/net8.0/QPay.UI.AssemblyInfo.cs
/QPAY_Web_Domain/obj/Debug/net8.0/QPay.UI.AssemblyInfoInputs.cache
/QPAY_Web_Domain/obj/Debug/net8.0/QPay.UI.assets.cache
/QPAY_Web_Domain/obj/project.assets.json
/QPAY_Web_Domain/obj/project.nuget.cache
/QPAY_Web_Domain/obj/QPay.UI.csproj.nuget.dgspec.json
/QPAY_Web_Domain/obj/QPAY.UI.csproj.nuget.g.props
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.AssemblyInfo.cs
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.AssemblyInfoInputs.cache
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.assets.cache
/QPay_Web_Data/obj/Debug/net8.0/QPay.DAL.csproj.AssemblyReference.cache
/QPay_Web_Data/obj/project.assets.json
/QPay_Web_Data/obj/project.nuget.cache
/QPay_Web_Data/obj/QPay.DAL.csproj.nuget.dgspec.json
/QPay_Web_Data/obj/QPay.DAL.csproj.nuget.g.props
*.pubxml
/QPAY_Web_API/Properties/PublishProfiles
/QPAY_Web_Service
/QPAY_Web_API/obj/project.assets.json
/QPAY_Web_API/obj/project.nuget.cache
/QPAY_Web_API/obj/QPay.API.csproj.nuget.dgspec.json
/QPAY_Web_API/obj/QPay.API.csproj.nuget.g.props
*.json
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.AssemblyInfo.cs
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.AssemblyInfoInputs.cache
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.assets.cache
/QPAY_Web_API/obj/Debug/net8.0/QPay.API.csproj.AssemblyReference.cache
